:root{
    --main-accent-color: #ED2027;
    --background-color: #36393f;
    --background-color-darker: #2f3136;
    --background-color-darkest: #202225;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: dimgray;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}


#footer{
    width: 100%;
    height: 25px;
    background-color: var(--background-color-darkest);
    bottom: 0;
    left: 0;
    z-index: 100;
}

#footer a{
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    filter: brightness(0.4);
    margin-top: inherit;
    margin-bottom: inherit;
    margin-left: 10px;
}

#footer a:hover{
    filter: brightness(0.5);
}