:root {
    --main-accent-color: #ED2027;
    --background-color: #36393f;
    --background-color-darker: #2f3136;
    --background-color-darkest: #202225;
    color: white;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* Override default Bootstrap colors */
.btn-primary {
    background: var(--main-accent-color) !important;
    border-color: var(--main-accent-color) !important;
}

.btn-primary:hover{
    background: #d11b22 !important;
    border-color: #d11b22 !important;
}
.nav-link.active{
    background: var(--main-accent-color) !important;
    border-color: var(--main-accent-color) !important;
}

.nav-link{
    color: white; !important;
}

.nav-link:hover{
    color: var(--main-accent-color) !important;
}
.nav-link:focus{
    color: var(--main-accent-color) !important;
}
.nav-link.active:hover{
    background: #d11b22 !important;
    border-color: #d11b22 !important;
    color: white !important;
}

.nav-link.text-white{
    color: rgba(255, 255, 255, 0.7) !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: dimgray;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}


#footer {
    position: fixed;
    width: 100%;
    height: 25px;
    background-color: var(--background-color-darkest);
    bottom: 0 !important;
    left: 0;
    z-index: 100;
}

#footer a {
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    filter: brightness(0.4);
    margin-top: inherit;
    margin-bottom: inherit;
    margin-left: 10px;
}

#footer a:hover {
    filter: brightness(0.5);
}


.message-warn {
    background-color: orange !important;
    color: white;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-warn div {
    margin-left: 1rem;
}

.message-warn h2 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.message-warn a {
    color: white;
    text-decoration: underline;
}

.message-warn.hidden {
    display: none !important;
}