:root {
    --main-accent-color: #ED2027;
    --background-color: #36393f;
    --background-color-darker: #2f3136;
    --background-color-darkest: #202225;
}


#login {
    position: relative;
    margin: auto auto auto auto;
}

#dashboard {
    display: none;
}


.card{
	margin-top: 25px;
}

a:hover .card:hover{
	filter: brightness(1);
}


#player{
	position: relative;
	background: rgb(32,34,37);
	background: linear-gradient(180deg, rgba(32,34,37,1) 0%, rgba(78,25,27,1) 100%); 
	min-width: 30%;
	max-width: 95%;
	min-height: 100%;
	margin-bottom: 0;
	margin-top: auto;
	margin-right: 5%;
	border-radius: 40px;
	padding-top: 50px !important; 
}

#fab{
	position: sticky !important;
	float: left;
	margin-top: 50%;
	margin-left: 1rem;
	margin-bottom: auto;
	top: auto;
	bottom: 2.5rem !important;
	z-index: 3;
}

#outer-fab{
	background-color: var(--main-accent-color);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	-webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.89); 
	box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.89);
	transition: all 0.15s;
}


#outer-fab:hover{
	filter: brightness(2);
}

#inner-fab-container{
	display: none;
	transition: all 0.1s;
}

.inner-fab{
	color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-color: var(--main-accent-color);
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.inner-fab:hover{
	filter: brightness(2);
}

#playlist-footer{
	position: sticky !important;
	float: left;
	margin-top: 50%;
	margin-left: 1rem;
	margin-bottom: auto;
	top: auto;
	bottom: 0rem !important;
	width: 100%;
	z-index: 2;
	background: rgba(47, 49, 54, 0.95);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}



#btn-background{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	width: fit-content;
	height: fit-content;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 40px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(5px);
}


#songlist{
	overflow: auto;
	max-height: 41rem;
	position: relative;
	background: var(--background-color-darkest); 
	border-radius: 40px;
	margin-left: 30px !important;
	margin-right: 30px !important;
	min-height: 40rem;
	float: right;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 0px;
}


#cover{
	margin: auto;
	min-width: 200px;
	min-height: 250px;
	max-height: 250px;
	max-width: 250px;
	background-size: cover;
	background-position: center;
	border-radius: 30px;
}

.edit-btn{
	position: relative;
	margin-left: 100px;
	float: right;
}

.add-btn{
	width: fit-content;
	margin-top: 10px !important;
}

.song-url{
	display: block;
}

#btn-spinner {
    display: none;
}




/* The slider itself */

.slider {
	position: relative;
	margin-top: 20px !important;
	width: 7rem;
    -webkit-appearance: none;
    border-radius: 5px;
    /* Override default CSS styles */
    appearance: none;
    /* Full-width */
    height: 10px;
    /* Specified height */
    background: var(--background-color);
    /* Grey background */
    outline: none;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: var(--main-accent-color);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border: none;
}

.slider::-moz-range-thumb {
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: var(--main-accent-color);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border: none;
}

#volume {
    text-align: center;
    text-align: left;
    margin-bottom: auto;
    margin-right: 20px;
	min-width: 150px;
}

.song-url{
	display: none;
}
