:root {
    --main-accent-color: #ED2027;
    --background-color: #36393f;
    --background-color-darker: #2f3136;
    --background-color-darkest: #202225;
}

body{
	overflow: hidden;
}

#login {
    position: relative;
    margin: auto auto auto auto;
}

#dashboard {
    display: none;
}


.card{
	margin-top: 25px;
}

a:hover .card:hover{
	filter: brightness(1);
}

#fabAndFooter{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}


#fab{
	position: sticky;
	bottom: 0.5rem;
	left: 0.5rem;
	z-index: 3;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
}

#outer-fab{
	background-color: var(--main-accent-color);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	-webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.89); 
	box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.89);
	transition: all 0.15s;

	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#outer-fab:hover{
	filter: brightness(2);
}

#inner-fab-container{
	opacity: 0;
	white-space: nowrap;
	position: absolute;
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	bottom: 0;
	transition: all 0.1s;
	padding: none;

	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}


.inner-fab{
	color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: var(--main-accent-color);
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

#firstbtn{
	margin-bottom: 60px;
}

.inner-fab:hover{
	filter: brightness(2);
}

#customServer{
	margin-top: 1rem;
	display: none;
}

#customServer.active{
	display: block;
}

#session-id{
	border-radius: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#session-copy{
	display: none;
}

#session-id:hover{
	background-color: rgba(128, 128, 128, 0.162);
	cursor: grab;
}

#session-id:hover #session-copy{
	display: inline;
}

#playlist-footer{
	position: absolute !important;
	float: left;
	margin-top: 50%;
	margin-left: 1rem;
	margin-bottom: auto;
	bottom: 0rem !important;
	width: 100%;
	z-index: 2;
	background: rgba(47, 49, 54, 0.95);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}



#songlist{
	overflow: none;
	position: relative;
	background: var(--background-color-darkest); 
	border-radius: 2rem;
	margin-left: 30px !important;
	margin-right: 30px !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 37rem;
	z-index: 1;
}

#playlists-container{
	height: 96%;
	overflow: auto;
	border-radius: inherit;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}


#player{
	bottom: 0 !important;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0 !important;
	margin-top: auto;
	position: absolute !important;
	width: 100%;
	background-color: var(--background-color-darkest);
	padding: 3px;
	border-radius: 2rem 2rem 0 0; 
	height: fit-content !important;
	z-index: 1;
}

#player-grid{
	min-height: fit-content;
	z-index: 100;
}

#cover{
	margin-top: 0.75rem !important;
	margin-bottom: 0.75rem !important;
	margin-left: 2rem;
	height: 5.5rem;
	width: 5.5rem;
	background-size: cover;
	background-position: center;
	border-radius: 10%;
}

.edit-btn{
	position: relative;
	margin-left: 100px;
	float: right;
}

.add-btn{
	width: fit-content;
	margin-top: 10px !important;
}

.song-url{
	display: block;
}

#btn-spinner {
    display: none;
}


/* The slider itself */

.slider {
	position: relative;
	margin-top: 20px !important;
	width: 7rem;
    -webkit-appearance: none;
    border-radius: 5px;
    /* Override default CSS styles */
    appearance: none;
    /* Full-width */
    height: 10px;
    /* Specified height */
    background: var(--background-color);
    /* Grey background */
    outline: none;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: var(--main-accent-color);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border: none;
}

.slider::-moz-range-thumb {
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: var(--main-accent-color);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border: none;
}

#volume {
    text-align: center;
    text-align: left;
    margin-bottom: auto;
    margin-right: 20px;
	min-width: 150px;
}

.song-url{
	display: none;
}
