:root {
    --main-accent-color: #ED2027;
    --background-color: #36393f;
    --background-color-darker: #2f3136;
    --background-color-darkest: #202225;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color) !important;
}



#info {
    margin-left: 5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.card-header {
    background-color: var(--background-color-darkest) !important;
}

#usercard {
    background: linear-gradient(45deg, var(--color1), var(--color2));
    border-radius: 10px;
    width: fit-content;
    padding: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}

#usercard > span {
    font-size: 18px;
    font-weight: 500;
}

#usercard > img {
    width: 100%;
    max-width: 50px;
    position: relative;
    border-radius: 100%;
    margin-right: .5rem;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    border: 3px solid rgba(255, 255, 255, 0.1);
    transition: box-shadow 200ms ease, border 200ms ease;
}

.card:hover {
    border: 3px solid rgba(255, 255, 255, 0.2);
}